## 윤년
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.  

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.  

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다.  
1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다.  
하지만, 2000년은 400의 배수이기 때문에 윤년이다

첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.  
첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

입력 : 2000, 출력 : 1  
입력 : 1999, 출력 : 0

In [25]:
n = int(input('1<=n<=4000인 수를 입력하세요'))
print(int((n % 4 == 0 and n % 100 != 0) or n % 400 == 0))

1<=n<=4000인 수를 입력하세요2000
1

## 팩토리얼
0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.  
  
입력 : 10, 출력 : 3628800  
입력 : 0, 출력 : 1

In [12]:
n = int(input())
k = 1
for i in range(1, n+1):
    k *= i
print(k)

10
3628800

## 완전제곱수
M과 N이 주어질 때 M이상 N이하의 자연수 중 완전제곱수인 것을 모두 골라 그 합을 구하고 그 중 최솟값을 찾는 프로그램을 작성하시오.   
예를 들어 M=60, N=100인 경우  
60이상 100이하의 자연수 중 완전제곱수는 64, 81, 100 이렇게 총 3개가 있으므로 그 합은 245가 되고 이 중 최솟값은 64가 된다.

입력 : 60, 100, 출력 : 245, 64  
입력 : 75, 80, 출력 : -1

In [34]:
m, n = map(int, input().split())
# m = int(input())
# n = int(input())
num_list = []
num = 1
while num*num <= n:
    if num*num in list(range(m, n+1)):
        num_list.append(num*num)
        num += 1
    else:
        num += 1
if len(num_list) == 0:
    print(-1)
else:
    print(sum(num_list))
    print(min(num_list))

60 100
245
64